* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
  
  }
.App-all{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
   
}
.header {
  margin: 32px 0;
  color: #fff;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  font-weight: 700;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  font-weight: 700;
  
}
.sort-buttons{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.buttons-date{
  display: flex;
  margin: 10px 73px 10px 73px;
  justify-content: end;

}
.button-date-down{
  background: linear-gradient(
    270deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 700;
  padding: 4px;
}
.button-date-down:hover {
  background: linear-gradient(
    270deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.button-date-up{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  padding: 4px;
}
.button-date-up:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.buttons-by-done {
  display: flex;
  margin-left: 73px;
  margin-right: 73px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: end;
}
.buttons-by-done button {
  border: none;
}
.buttons-by-done button:hover {
  cursor: pointer;
}

.todo-button-delete {
  margin-right: 3px;
  padding: 3px ;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.todo-button-delete:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.button-by-done-all{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
}
.button-by-done-all:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.button-by-done-open{
  background: linear-gradient(
    270deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  font-weight: 700;
}
.button-by-done-open:hover{background: linear-gradient(
  270deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
);
}

.button-by-done-closed{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 700;
}
.button-by-done-closed:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.single-task{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid #5d0cff;
  outline: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-radius: 6px;
  
}

.todo-button-edit {
  padding: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin-right: 4px;
}
.todo-button-edit:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-button-save{
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}
.todo-button-save:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.task-window{
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  width: 353px;
  background: transparent;
  color: #fff;
  flex: 1;
  overflow: hidden
}


.input-edit{   
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  width: 326px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  
}


.buttons-task-group {
display: flex;
justify-content: end;
align-items: center;
}



.buttons-date button{
  border: none;
  cursor: pointer;
}

.paginate-item-li{
  list-style-type: none;
}
.btn-prev-item{
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 4px;
  transform: scale(-1, 1);
}
.btn-prev-item:hover{
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 4px;
  transform: scale(-1, 1);
}
.btn-next-item{
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 4px;
}
.btn-next-item:hover{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.paginate-single-item{
  border: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.7) 0%,
    rgba(155, 0, 250, 0.7) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin: 2px;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;

}
.paginate-single-item:hover{background: linear-gradient(
  270deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
);
}
.pagination-window{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.paginate-all-items{
  display: flex;
  align-items: center;
  justify-content: center;
}


.checkbox-status-item{
 height: 30px;
 width: 30px;
}
.checkbox-div{
  display: flex;
  align-items: center;
 justify-content: center;
  background-color: #5d0cff;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin-left: 4px;
}

.button-date-up-select{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  padding: 4px;
}
.button-date-down-select{
  background: linear-gradient(
    270deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 700;
  padding: 4px;

}
.button-by-done-all-select{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
}
.button-by-done-open-select{
  background: linear-gradient(
    270deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  font-weight: 700;
}
.button-by-done-closed-select{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  padding: 12px 12px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 700;
}
.edit{
  display: none;
}
.task-delete-window{
  display: flex;
}
.input-edit-single-task{
  display: flex;
}